-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: sjseguridad
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_client_document_items`
--

DROP TABLE IF EXISTS `commercial_client_document_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_client_document_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `commercial_client_id` bigint unsigned NOT NULL,
  `document_key` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cc_doc_items_client_doc_uq` (`commercial_client_id`,`document_key`),
  CONSTRAINT `commercial_client_document_items_commercial_client_id_foreign` FOREIGN KEY (`commercial_client_id`) REFERENCES `commercial_clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_client_document_items`
--

LOCK TABLES `commercial_client_document_items` WRITE;
/*!40000 ALTER TABLE `commercial_client_document_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_client_document_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_client_documentation_notification_logs`
--

DROP TABLE IF EXISTS `commercial_client_documentation_notification_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_client_documentation_notification_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `commercial_client_id` bigint unsigned NOT NULL,
  `documentation_expires_on` date NOT NULL,
  `alert_kind` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notified_at` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cc_doc_notif_client_exp_kind_uq` (`commercial_client_id`,`documentation_expires_on`,`alert_kind`),
  CONSTRAINT `cc_doc_notif_logs_client_fk` FOREIGN KEY (`commercial_client_id`) REFERENCES `commercial_clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_client_documentation_notification_logs`
--

LOCK TABLES `commercial_client_documentation_notification_logs` WRITE;
/*!40000 ALTER TABLE `commercial_client_documentation_notification_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_client_documentation_notification_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_client_types`
--

DROP TABLE IF EXISTS `commercial_client_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_client_types` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `commercial_client_types_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_client_types`
--

LOCK TABLES `commercial_client_types` WRITE;
/*!40000 ALTER TABLE `commercial_client_types` DISABLE KEYS */;
INSERT INTO `commercial_client_types` VALUES (1,'EXTERNO',1,1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'INTERNO',1,2,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,'GRUPO',1,3,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(4,'EXTERNO - TARIFA GRUPO',1,4,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `commercial_client_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_clients`
--

DROP TABLE IF EXISTS `commercial_clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_clients` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nit` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `legal_rep_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `legal_rep_doc` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `documentation_expires_on` date DEFAULT NULL,
  `alert_days_before` smallint unsigned DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `commercial_clients_nit_unique` (`nit`),
  KEY `commercial_clients_created_by_foreign` (`created_by`),
  KEY `commercial_clients_updated_by_foreign` (`updated_by`),
  CONSTRAINT `commercial_clients_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commercial_clients_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_clients`
--

LOCK TABLES `commercial_clients` WRITE;
/*!40000 ALTER TABLE `commercial_clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_portfolios`
--

DROP TABLE IF EXISTS `commercial_portfolios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_portfolios` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `commercial_portfolios_slug_unique` (`slug`),
  UNIQUE KEY `commercial_portfolios_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_portfolios`
--

LOCK TABLES `commercial_portfolios` WRITE;
/*!40000 ALTER TABLE `commercial_portfolios` DISABLE KEYS */;
INSERT INTO `commercial_portfolios` VALUES (1,'seg_fisica','Seg. Fisica',1,1,'2026-07-30 20:22:38','2026-07-30 20:22:38'),(2,'monitoreo','Monitoreo',1,2,'2026-07-30 20:22:38','2026-07-30 20:22:38'),(3,'ocasionales','Ocasionales',1,3,'2026-07-30 20:22:38','2026-07-30 20:22:38'),(4,'inactivos','Inactivos',1,4,'2026-07-30 20:22:38','2026-07-30 20:22:38');
/*!40000 ALTER TABLE `commercial_portfolios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_sectors`
--

DROP TABLE IF EXISTS `commercial_sectors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_sectors` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `commercial_sectors_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_sectors`
--

LOCK TABLES `commercial_sectors` WRITE;
/*!40000 ALTER TABLE `commercial_sectors` DISABLE KEYS */;
INSERT INTO `commercial_sectors` VALUES (1,'INDUSTRIAL',1,1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'COMERCIAL',1,2,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,'SALUD',1,3,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(4,'SERVICIOS',1,4,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(5,'CONSTRUCCION',1,5,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(6,'RESIDENCIAL',1,6,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(7,'DEPORTIVO',1,7,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `commercial_sectors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_service_contract_notification_logs`
--

DROP TABLE IF EXISTS `commercial_service_contract_notification_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_service_contract_notification_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `commercial_service_id` bigint unsigned NOT NULL,
  `contract_end` date NOT NULL,
  `notified_at` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cs_contract_notif_service_end_uq` (`commercial_service_id`,`contract_end`),
  CONSTRAINT `cs_contract_notif_logs_service_fk` FOREIGN KEY (`commercial_service_id`) REFERENCES `commercial_services` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_service_contract_notification_logs`
--

LOCK TABLES `commercial_service_contract_notification_logs` WRITE;
/*!40000 ALTER TABLE `commercial_service_contract_notification_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_service_contract_notification_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_service_types`
--

DROP TABLE IF EXISTS `commercial_service_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_service_types` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `commercial_service_types_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_service_types`
--

LOCK TABLES `commercial_service_types` WRITE;
/*!40000 ALTER TABLE `commercial_service_types` DISABLE KEYS */;
INSERT INTO `commercial_service_types` VALUES (1,'VIGILANCIA',1,1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'ESCOLTA',1,2,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,'MONITOREO',1,3,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(4,'GPS',1,4,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(5,'GUARDA',1,5,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `commercial_service_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commercial_services`
--

DROP TABLE IF EXISTS `commercial_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commercial_services` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `commercial_client_id` bigint unsigned NOT NULL,
  `portfolio` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `contract_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `advisor_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `commercial_sector_id` bigint unsigned DEFAULT NULL,
  `commercial_client_type_id` bigint unsigned DEFAULT NULL,
  `commercial_service_type_id` bigint unsigned DEFAULT NULL,
  `service_description` text COLLATE utf8mb4_unicode_ci,
  `contact_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_role` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_email` text COLLATE utf8mb4_unicode_ci,
  `contract_start` date DEFAULT NULL,
  `contract_end` date DEFAULT NULL,
  `duration_months` int unsigned DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `commercial_services_commercial_sector_id_foreign` (`commercial_sector_id`),
  KEY `commercial_services_commercial_client_type_id_foreign` (`commercial_client_type_id`),
  KEY `commercial_services_commercial_service_type_id_foreign` (`commercial_service_type_id`),
  KEY `commercial_services_created_by_foreign` (`created_by`),
  KEY `commercial_services_updated_by_foreign` (`updated_by`),
  KEY `commercial_services_portfolio_contract_number_index` (`portfolio`,`contract_number`),
  KEY `commercial_services_commercial_client_id_index` (`commercial_client_id`),
  CONSTRAINT `commercial_services_commercial_client_id_foreign` FOREIGN KEY (`commercial_client_id`) REFERENCES `commercial_clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `commercial_services_commercial_client_type_id_foreign` FOREIGN KEY (`commercial_client_type_id`) REFERENCES `commercial_client_types` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commercial_services_commercial_sector_id_foreign` FOREIGN KEY (`commercial_sector_id`) REFERENCES `commercial_sectors` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commercial_services_commercial_service_type_id_foreign` FOREIGN KEY (`commercial_service_type_id`) REFERENCES `commercial_service_types` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commercial_services_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `commercial_services_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commercial_services`
--

LOCK TABLES `commercial_services` WRITE;
/*!40000 ALTER TABLE `commercial_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_audit_logs`
--

DROP TABLE IF EXISTS `indicator_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indicator_audit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `event_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `auditable_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `auditable_id` bigint unsigned DEFAULT NULL,
  `old_values` json DEFAULT NULL,
  `new_values` json DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `reason` text COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `indicator_audit_logs_user_id_foreign` (`user_id`),
  KEY `indicator_audit_logs_auditable_type_auditable_id_index` (`auditable_type`,`auditable_id`),
  KEY `indicator_audit_logs_event_type_created_at_index` (`event_type`,`created_at`),
  CONSTRAINT `indicator_audit_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_audit_logs`
--

LOCK TABLES `indicator_audit_logs` WRITE;
/*!40000 ALTER TABLE `indicator_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_captures`
--

DROP TABLE IF EXISTS `indicator_captures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indicator_captures` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `indicator_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `period_id` bigint unsigned NOT NULL,
  `input_data` json NOT NULL,
  `numerator` decimal(14,2) NOT NULL,
  `denominator` decimal(14,2) NOT NULL,
  `result_percentage` decimal(8,2) NOT NULL,
  `complies` tinyint(1) NOT NULL,
  `analysis_text` longtext COLLATE utf8mb4_unicode_ci,
  `created_by_user_id` bigint unsigned DEFAULT NULL,
  `updated_by_user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `indicator_captures_unique` (`indicator_id`,`user_id`,`period_id`),
  KEY `indicator_captures_period_id_foreign` (`period_id`),
  KEY `indicator_captures_created_by_user_id_foreign` (`created_by_user_id`),
  KEY `indicator_captures_updated_by_user_id_foreign` (`updated_by_user_id`),
  KEY `indicator_captures_indicator_id_index` (`indicator_id`),
  KEY `indicator_captures_user_id_foreign` (`user_id`),
  CONSTRAINT `indicator_captures_created_by_user_id_foreign` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `indicator_captures_indicator_id_foreign` FOREIGN KEY (`indicator_id`) REFERENCES `indicators` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_captures_period_id_foreign` FOREIGN KEY (`period_id`) REFERENCES `indicator_periods` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_captures_updated_by_user_id_foreign` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `indicator_captures_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_captures`
--

LOCK TABLES `indicator_captures` WRITE;
/*!40000 ALTER TABLE `indicator_captures` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_captures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_dashboard_summaries`
--

DROP TABLE IF EXISTS `indicator_dashboard_summaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indicator_dashboard_summaries` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `year` smallint unsigned NOT NULL,
  `month` tinyint unsigned NOT NULL,
  `summary_text` longtext COLLATE utf8mb4_unicode_ci,
  `generated_by_user_id` bigint unsigned DEFAULT NULL,
  `updated_by_user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `indicator_dashboard_summaries_year_month_unique` (`year`,`month`),
  KEY `indicator_dashboard_summaries_generated_by_user_id_foreign` (`generated_by_user_id`),
  KEY `indicator_dashboard_summaries_updated_by_user_id_foreign` (`updated_by_user_id`),
  CONSTRAINT `indicator_dashboard_summaries_generated_by_user_id_foreign` FOREIGN KEY (`generated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `indicator_dashboard_summaries_updated_by_user_id_foreign` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_dashboard_summaries`
--

LOCK TABLES `indicator_dashboard_summaries` WRITE;
/*!40000 ALTER TABLE `indicator_dashboard_summaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_dashboard_summaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_dashboard_weights`
--

DROP TABLE IF EXISTS `indicator_dashboard_weights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indicator_dashboard_weights` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `indicator_id` bigint unsigned NOT NULL,
  `weight` decimal(5,2) NOT NULL,
  `updated_by_user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `indicator_dashboard_weights_indicator_id_unique` (`indicator_id`),
  KEY `indicator_dashboard_weights_updated_by_user_id_foreign` (`updated_by_user_id`),
  CONSTRAINT `indicator_dashboard_weights_indicator_id_foreign` FOREIGN KEY (`indicator_id`) REFERENCES `indicators` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_dashboard_weights_updated_by_user_id_foreign` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_dashboard_weights`
--

LOCK TABLES `indicator_dashboard_weights` WRITE;
/*!40000 ALTER TABLE `indicator_dashboard_weights` DISABLE KEYS */;
INSERT INTO `indicator_dashboard_weights` VALUES (1,1,5.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,2,15.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,3,20.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(4,4,10.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(5,5,10.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(6,6,0.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(7,7,10.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(8,8,10.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(9,9,20.00,NULL,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `indicator_dashboard_weights` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_improvements`
--

DROP TABLE IF EXISTS `indicator_improvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indicator_improvements` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `indicator_capture_id` bigint unsigned NOT NULL,
  `indicator_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `period_id` bigint unsigned NOT NULL,
  `analysis` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_taken` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_defined` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `improvement_required` longtext COLLATE utf8mb4_unicode_ci,
  `integrated_analysis_block` longtext COLLATE utf8mb4_unicode_ci,
  `created_by_user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `indicator_improvements_indicator_capture_id_unique` (`indicator_capture_id`),
  KEY `indicator_improvements_indicator_id_foreign` (`indicator_id`),
  KEY `indicator_improvements_period_id_foreign` (`period_id`),
  KEY `indicator_improvements_created_by_user_id_foreign` (`created_by_user_id`),
  KEY `indicator_improvements_user_id_foreign` (`user_id`),
  CONSTRAINT `indicator_improvements_created_by_user_id_foreign` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `indicator_improvements_indicator_capture_id_foreign` FOREIGN KEY (`indicator_capture_id`) REFERENCES `indicator_captures` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_improvements_indicator_id_foreign` FOREIGN KEY (`indicator_id`) REFERENCES `indicators` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_improvements_period_id_foreign` FOREIGN KEY (`period_id`) REFERENCES `indicator_periods` (`id`) ON DELETE CASCADE,
  CONSTRAINT `indicator_improvements_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_improvements`
--

LOCK TABLES `indicator_improvements` WRITE;
/*!40000 ALTER TABLE `indicator_improvements` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_improvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicator_periods`
--

DROP TABLE IF EXISTS `indicator_periods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indicator_periods` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `year` smallint unsigned NOT NULL,
  `month` tinyint unsigned NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'open',
  `closed_at` timestamp NULL DEFAULT NULL,
  `closed_by_user_id` bigint unsigned DEFAULT NULL,
  `reopened_at` timestamp NULL DEFAULT NULL,
  `reopened_by_user_id` bigint unsigned DEFAULT NULL,
  `reopen_reason` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `indicator_periods_year_month_unique` (`year`,`month`),
  KEY `indicator_periods_closed_by_user_id_foreign` (`closed_by_user_id`),
  KEY `indicator_periods_reopened_by_user_id_foreign` (`reopened_by_user_id`),
  CONSTRAINT `indicator_periods_closed_by_user_id_foreign` FOREIGN KEY (`closed_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `indicator_periods_reopened_by_user_id_foreign` FOREIGN KEY (`reopened_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicator_periods`
--

LOCK TABLES `indicator_periods` WRITE;
/*!40000 ALTER TABLE `indicator_periods` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicator_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indicators`
--

DROP TABLE IF EXISTS `indicators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `indicators` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unit` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'percentage',
  `target_value` decimal(8,2) NOT NULL,
  `critical_value` decimal(8,2) DEFAULT NULL,
  `target_operator` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `frequency` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'monthly',
  `formula_description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `required_fields` json NOT NULL,
  `allows_over_100` tinyint(1) NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `indicators_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indicators`
--

LOCK TABLES `indicators` WRITE;
/*!40000 ALTER TABLE `indicators` DISABLE KEYS */;
/*!40000 ALTER TABLE `indicators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_permissions`
--

DROP TABLE IF EXISTS `model_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
INSERT INTO `model_has_roles` VALUES (1,'App\\Models\\User',1);
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_emails`
--

DROP TABLE IF EXISTS `notification_emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_emails` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_emails`
--

LOCK TABLES `notification_emails` WRITE;
/*!40000 ALTER TABLE `notification_emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_type_email`
--

DROP TABLE IF EXISTS `notification_type_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_type_email` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `notification_type_id` bigint unsigned NOT NULL,
  `notification_email_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `req_notif_type_email_unique` (`notification_type_id`,`notification_email_id`),
  UNIQUE KEY `notification_type_email_type_id_email_id_unique` (`notification_type_id`,`notification_email_id`),
  KEY `req_notif_type_email_notification_email_id_foreign` (`notification_email_id`),
  CONSTRAINT `req_notif_type_email_notification_email_id_foreign` FOREIGN KEY (`notification_email_id`) REFERENCES `notification_emails` (`id`) ON DELETE CASCADE,
  CONSTRAINT `req_notif_type_email_notification_type_id_foreign` FOREIGN KEY (`notification_type_id`) REFERENCES `notification_types` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_type_email`
--

LOCK TABLES `notification_type_email` WRITE;
/*!40000 ALTER TABLE `notification_type_email` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_type_email` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_types`
--

DROP TABLE IF EXISTS `notification_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_types` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `module` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'requisitions',
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `label` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sort_order` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `notification_types_module_slug_unique` (`module`,`slug`),
  KEY `notification_types_module_index` (`module`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_types`
--

LOCK TABLES `notification_types` WRITE;
/*!40000 ALTER TABLE `notification_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_requisition_change_logs`
--

DROP TABLE IF EXISTS `personal_requisition_change_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_requisition_change_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `personal_requisition_id` bigint unsigned NOT NULL,
  `change_batch` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `field_key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `field_label` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `old_value` text COLLATE utf8mb4_unicode_ci,
  `new_value` text COLLATE utf8mb4_unicode_ci,
  `changed_by` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `personal_requisition_change_logs_changed_by_foreign` (`changed_by`),
  KEY `req_chg_logs_req_created_idx` (`personal_requisition_id`,`created_at`),
  KEY `req_chg_logs_batch_idx` (`change_batch`),
  CONSTRAINT `personal_requisition_change_logs_changed_by_foreign` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personal_requisition_change_logs_personal_requisition_id_foreign` FOREIGN KEY (`personal_requisition_id`) REFERENCES `personal_requisitions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_requisition_change_logs`
--

LOCK TABLES `personal_requisition_change_logs` WRITE;
/*!40000 ALTER TABLE `personal_requisition_change_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_requisition_change_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_requisition_ficha_entries`
--

DROP TABLE IF EXISTS `personal_requisition_ficha_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_requisition_ficha_entries` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `personal_requisition_id` bigint unsigned NOT NULL,
  `hired_document` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `hired_full_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `moved_to_ficha_at` timestamp NULL DEFAULT NULL,
  `moved_to_ficha_by` bigint unsigned DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `req_ficha_entries_req_id_uq` (`personal_requisition_id`),
  KEY `personal_requisition_ficha_entries_hired_document_index` (`hired_document`),
  KEY `req_ficha_entries_moved_by_fk` (`moved_to_ficha_by`),
  KEY `req_ficha_entries_created_by_fk` (`created_by`),
  CONSTRAINT `req_ficha_entries_created_by_fk` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `req_ficha_entries_moved_by_fk` FOREIGN KEY (`moved_to_ficha_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `req_ficha_entries_req_id_fk` FOREIGN KEY (`personal_requisition_id`) REFERENCES `personal_requisitions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=470 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_requisition_ficha_entries`
--

LOCK TABLES `personal_requisition_ficha_entries` WRITE;
/*!40000 ALTER TABLE `personal_requisition_ficha_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_requisition_ficha_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_requisition_status_logs`
--

DROP TABLE IF EXISTS `personal_requisition_status_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_requisition_status_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `personal_requisition_id` bigint unsigned NOT NULL,
  `from_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `to_status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `changed_by` bigint unsigned NOT NULL,
  `comment` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `personal_requisition_status_logs_personal_requisition_id_foreign` (`personal_requisition_id`),
  KEY `personal_requisition_status_logs_changed_by_foreign` (`changed_by`),
  CONSTRAINT `personal_requisition_status_logs_changed_by_foreign` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personal_requisition_status_logs_personal_requisition_id_foreign` FOREIGN KEY (`personal_requisition_id`) REFERENCES `personal_requisitions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_requisition_status_logs`
--

LOCK TABLES `personal_requisition_status_logs` WRITE;
/*!40000 ALTER TABLE `personal_requisition_status_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_requisition_status_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_requisitions`
--

DROP TABLE IF EXISTS `personal_requisitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_requisitions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `requested_by` bigint unsigned NOT NULL,
  `managed_by` bigint unsigned DEFAULT NULL,
  `request_date` date NOT NULL,
  `leader_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `requesting_area_key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `position_id` bigint unsigned NOT NULL,
  `sex` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantity` smallint unsigned NOT NULL,
  `replacement_document` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `replacement_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contract_type_id` bigint unsigned DEFAULT NULL,
  `contract_duration` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `base_salary` decimal(12,2) DEFAULT NULL,
  `transport_allowance` decimal(12,2) DEFAULT NULL,
  `mobility_allowance` decimal(12,2) DEFAULT NULL,
  `statutory_bonus` decimal(12,2) DEFAULT NULL,
  `non_statutory_bonus` decimal(12,2) DEFAULT NULL,
  `other_allowances` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `leasing_contract` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `operating_area_key` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `request_reason_id` bigint unsigned NOT NULL,
  `client_id` bigint unsigned NOT NULL,
  `city_id` bigint unsigned NOT NULL,
  `client_type_id` bigint unsigned NOT NULL,
  `programming_type_id` bigint unsigned NOT NULL,
  `required_profile` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `uniform_id` bigint unsigned DEFAULT NULL,
  `service_structure` text COLLATE utf8mb4_unicode_ci,
  `cost_center` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `requester_observation` text COLLATE utf8mb4_unicode_ci,
  `human_resources_observation` text COLLATE utf8mb4_unicode_ci,
  `recruiter_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recruiter_id` bigint unsigned DEFAULT NULL,
  `hiring_date` date DEFAULT NULL,
  `hired_document` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hired_full_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'solicitada',
  `status_changed_at` timestamp NULL DEFAULT NULL,
  `closed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_requisitions_code_unique` (`code`),
  KEY `personal_requisitions_requested_by_foreign` (`requested_by`),
  KEY `personal_requisitions_managed_by_foreign` (`managed_by`),
  KEY `personal_requisitions_position_id_foreign` (`position_id`),
  KEY `personal_requisitions_request_reason_id_foreign` (`request_reason_id`),
  KEY `personal_requisitions_client_id_foreign` (`client_id`),
  KEY `personal_requisitions_city_id_foreign` (`city_id`),
  KEY `personal_requisitions_client_type_id_foreign` (`client_type_id`),
  KEY `personal_requisitions_programming_type_id_foreign` (`programming_type_id`),
  KEY `personal_requisitions_requesting_area_key_status_index` (`requesting_area_key`,`status`),
  KEY `personal_requisitions_contract_type_id_foreign` (`contract_type_id`),
  KEY `personal_requisitions_uniform_id_foreign` (`uniform_id`),
  KEY `personal_requisitions_recruiter_id_foreign` (`recruiter_id`),
  CONSTRAINT `personal_requisitions_city_id_foreign` FOREIGN KEY (`city_id`) REFERENCES `requisition_cities` (`id`),
  CONSTRAINT `personal_requisitions_client_id_foreign` FOREIGN KEY (`client_id`) REFERENCES `requisition_clients` (`id`),
  CONSTRAINT `personal_requisitions_client_type_id_foreign` FOREIGN KEY (`client_type_id`) REFERENCES `requisition_client_types` (`id`),
  CONSTRAINT `personal_requisitions_contract_type_id_foreign` FOREIGN KEY (`contract_type_id`) REFERENCES `requisition_contract_types` (`id`),
  CONSTRAINT `personal_requisitions_managed_by_foreign` FOREIGN KEY (`managed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `personal_requisitions_position_id_foreign` FOREIGN KEY (`position_id`) REFERENCES `requisition_positions` (`id`),
  CONSTRAINT `personal_requisitions_programming_type_id_foreign` FOREIGN KEY (`programming_type_id`) REFERENCES `requisition_programming_types` (`id`),
  CONSTRAINT `personal_requisitions_recruiter_id_foreign` FOREIGN KEY (`recruiter_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `personal_requisitions_request_reason_id_foreign` FOREIGN KEY (`request_reason_id`) REFERENCES `requisition_request_reasons` (`id`),
  CONSTRAINT `personal_requisitions_requested_by_foreign` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `personal_requisitions_uniform_id_foreign` FOREIGN KEY (`uniform_id`) REFERENCES `requisition_uniforms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=609 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_requisitions`
--

LOCK TABLES `personal_requisitions` WRITE;
/*!40000 ALTER TABLE `personal_requisitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_requisitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quality_document_areas`
--

DROP TABLE IF EXISTS `quality_document_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quality_document_areas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `quality_document_id` bigint unsigned NOT NULL,
  `area_key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `quality_document_areas_quality_document_id_area_key_unique` (`quality_document_id`,`area_key`),
  CONSTRAINT `quality_document_areas_quality_document_id_foreign` FOREIGN KEY (`quality_document_id`) REFERENCES `quality_documents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quality_document_areas`
--

LOCK TABLES `quality_document_areas` WRITE;
/*!40000 ALTER TABLE `quality_document_areas` DISABLE KEYS */;
/*!40000 ALTER TABLE `quality_document_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quality_document_users`
--

DROP TABLE IF EXISTS `quality_document_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quality_document_users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `quality_document_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `quality_document_users_quality_document_id_user_id_unique` (`quality_document_id`,`user_id`),
  KEY `quality_document_users_user_id_foreign` (`user_id`),
  CONSTRAINT `quality_document_users_quality_document_id_foreign` FOREIGN KEY (`quality_document_id`) REFERENCES `quality_documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quality_document_users_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quality_document_users`
--

LOCK TABLES `quality_document_users` WRITE;
/*!40000 ALTER TABLE `quality_document_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `quality_document_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quality_documents`
--

DROP TABLE IF EXISTS `quality_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quality_documents` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `process_key` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `document_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `origin` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `document_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activity_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `storage_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `current_version` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_updated_at` date DEFAULT NULL,
  `retention_period` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `final_disposition` text COLLATE utf8mb4_unicode_ci,
  `description` text COLLATE utf8mb4_unicode_ci,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `original_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mime_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` int unsigned DEFAULT NULL,
  `external_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `uploaded_by` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `quality_documents_uploaded_by_foreign` (`uploaded_by`),
  CONSTRAINT `quality_documents_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quality_documents`
--

LOCK TABLES `quality_documents` WRITE;
/*!40000 ALTER TABLE `quality_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `quality_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_cities`
--

DROP TABLE IF EXISTS `requisition_cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_cities` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `requisition_cities_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_cities`
--

LOCK TABLES `requisition_cities` WRITE;
/*!40000 ALTER TABLE `requisition_cities` DISABLE KEYS */;
/*!40000 ALTER TABLE `requisition_cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_client_types`
--

DROP TABLE IF EXISTS `requisition_client_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_client_types` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `requisition_client_types_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_client_types`
--

LOCK TABLES `requisition_client_types` WRITE;
/*!40000 ALTER TABLE `requisition_client_types` DISABLE KEYS */;
INSERT INTO `requisition_client_types` VALUES (1,'Externo',1,1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'Interno',1,2,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `requisition_client_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_clients`
--

DROP TABLE IF EXISTS `requisition_clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_clients` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `requisition_clients_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_clients`
--

LOCK TABLES `requisition_clients` WRITE;
/*!40000 ALTER TABLE `requisition_clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `requisition_clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_contract_types`
--

DROP TABLE IF EXISTS `requisition_contract_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_contract_types` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_contract_types`
--

LOCK TABLES `requisition_contract_types` WRITE;
/*!40000 ALTER TABLE `requisition_contract_types` DISABLE KEYS */;
INSERT INTO `requisition_contract_types` VALUES (1,'Fijo',1,1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'Indefinido',1,2,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,'Obra o Labor',1,3,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(4,'Aprendizaje',1,4,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `requisition_contract_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_positions`
--

DROP TABLE IF EXISTS `requisition_positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_positions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `requisition_positions_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_positions`
--

LOCK TABLES `requisition_positions` WRITE;
/*!40000 ALTER TABLE `requisition_positions` DISABLE KEYS */;
/*!40000 ALTER TABLE `requisition_positions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_programming_types`
--

DROP TABLE IF EXISTS `requisition_programming_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_programming_types` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `requisition_programming_types_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_programming_types`
--

LOCK TABLES `requisition_programming_types` WRITE;
/*!40000 ALTER TABLE `requisition_programming_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `requisition_programming_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_request_reasons`
--

DROP TABLE IF EXISTS `requisition_request_reasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_request_reasons` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `requisition_request_reasons_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_request_reasons`
--

LOCK TABLES `requisition_request_reasons` WRITE;
/*!40000 ALTER TABLE `requisition_request_reasons` DISABLE KEYS */;
INSERT INTO `requisition_request_reasons` VALUES (1,'Cargo nuevo',1,1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'Reemplazo',1,2,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,'Movimiento interno',1,3,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(4,'Servicio nuevo',1,4,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `requisition_request_reasons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_uniforms`
--

DROP TABLE IF EXISTS `requisition_uniforms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requisition_uniforms` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_uniforms`
--

LOCK TABLES `requisition_uniforms` WRITE;
/*!40000 ALTER TABLE `requisition_uniforms` DISABLE KEYS */;
INSERT INTO `requisition_uniforms` VALUES (1,'Camisa + Pantal├│n + Botas',1,1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'Overol + Botas',1,2,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,'Traje Formal',1,3,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(4,'Sin Dotaci├│n',1,4,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `requisition_uniforms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `role_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
INSERT INTO `role_has_permissions` VALUES (1,1),(2,1),(3,1),(4,1),(5,1),(6,1),(7,1),(8,1),(9,1),(10,1),(11,1),(12,1),(13,1),(14,1),(15,1),(16,1),(17,1),(18,1),(19,1),(20,1),(21,1),(22,1),(23,1),(24,1),(25,1),(26,1),(27,1),(28,1),(29,1),(30,1),(31,1),(32,1),(33,1),(34,1),(35,1),(36,1),(37,1),(38,1),(39,1),(40,1),(41,1),(42,1),(43,1),(44,1),(45,1),(46,1),(47,1),(48,1),(49,1),(50,1),(51,1),(52,1),(53,1),(54,1),(55,1),(56,1),(57,1),(58,1),(59,1),(60,1),(61,1),(62,1),(63,1),(64,1),(65,1),(66,1),(67,1),(68,1),(69,1),(70,1),(71,1),(4,2),(5,2),(8,2),(14,2),(4,3);
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'super-admin','web','2026-07-30 20:23:13','2026-07-30 20:23:13'),(2,'administrador','web','2026-07-30 20:23:13','2026-07-30 20:23:13'),(3,'usuario','web','2026-07-30 20:23:13','2026-07-30 20:23:13');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_products`
--

DROP TABLE IF EXISTS `supply_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_products` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `category` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_products`
--

LOCK TABLES `supply_products` WRITE;
/*!40000 ALTER TABLE `supply_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `supply_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_request_items`
--

DROP TABLE IF EXISTS `supply_request_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_request_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `supply_request_id` bigint unsigned NOT NULL,
  `supply_product_id` bigint unsigned DEFAULT NULL,
  `custom_product_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_not_in_catalog` tinyint(1) NOT NULL DEFAULT '0',
  `current_inventory` int NOT NULL DEFAULT '0',
  `requested_quantity` int NOT NULL,
  `approved_quantity` int DEFAULT NULL,
  `unit_cost` decimal(15,2) DEFAULT NULL,
  `purchasing_observations` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `supply_request_items_supply_request_id_foreign` (`supply_request_id`),
  KEY `supply_request_items_supply_product_id_foreign` (`supply_product_id`),
  CONSTRAINT `supply_request_items_supply_product_id_foreign` FOREIGN KEY (`supply_product_id`) REFERENCES `supply_products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `supply_request_items_supply_request_id_foreign` FOREIGN KEY (`supply_request_id`) REFERENCES `supply_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_request_items`
--

LOCK TABLES `supply_request_items` WRITE;
/*!40000 ALTER TABLE `supply_request_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `supply_request_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_requests`
--

DROP TABLE IF EXISTS `supply_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `area_key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sede_id` bigint unsigned DEFAULT NULL,
  `site_utilization` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `site_city` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente_calidad',
  `observations` text COLLATE utf8mb4_unicode_ci,
  `quality_reviewer_id` bigint unsigned DEFAULT NULL,
  `quality_observations` text COLLATE utf8mb4_unicode_ci,
  `purchasing_manager_id` bigint unsigned DEFAULT NULL,
  `total_cost` decimal(15,2) DEFAULT NULL,
  `exported_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `supply_requests_user_id_foreign` (`user_id`),
  KEY `supply_requests_quality_reviewer_id_foreign` (`quality_reviewer_id`),
  KEY `supply_requests_purchasing_manager_id_foreign` (`purchasing_manager_id`),
  KEY `supply_requests_sede_id_foreign` (`sede_id`),
  CONSTRAINT `supply_requests_purchasing_manager_id_foreign` FOREIGN KEY (`purchasing_manager_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supply_requests_quality_reviewer_id_foreign` FOREIGN KEY (`quality_reviewer_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supply_requests_sede_id_foreign` FOREIGN KEY (`sede_id`) REFERENCES `supply_sites` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supply_requests_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_requests`
--

LOCK TABLES `supply_requests` WRITE;
/*!40000 ALTER TABLE `supply_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `supply_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_sites`
--

DROP TABLE IF EXISTS `supply_sites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_sites` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `utilization` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `city` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `supply_sites_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_sites`
--

LOCK TABLES `supply_sites` WRITE;
/*!40000 ALTER TABLE `supply_sites` DISABLE KEYS */;
INSERT INTO `supply_sites` VALUES (1,'cali_central','Sede Principal y central de monitoreo','Cali',1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(2,'cartagena','Sede Cartagena','Cartagena',1,'2026-07-30 20:23:14','2026-07-30 20:23:14'),(3,'manizales','Sede Manizales','Manizales',1,'2026-07-30 20:23:14','2026-07-30 20:23:14');
/*!40000 ALTER TABLE `supply_sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `area_key` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sede_id` bigint unsigned DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `must_change_password` tinyint(1) NOT NULL DEFAULT '0',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_login_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_created_by_foreign` (`created_by`),
  KEY `users_area_key_index` (`area_key`),
  KEY `users_sede_id_foreign` (`sede_id`),
  CONSTRAINT `users_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_sede_id_foreign` FOREIGN KEY (`sede_id`) REFERENCES `supply_sites` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Administrador SJ Seguridad','admin@sjseguridad.local',NULL,NULL,'2026-07-30 20:23:14','$2y$12$Cr/UkSX.Gk52STzwelVrLekF8KYXgUY868vsW.X9d8gFOGfyxog86',1,0,NULL,'2026-07-30 20:46:43',NULL,'2026-07-30 20:23:14','2026-07-30 20:46:43');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-30 15:52:32
